/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers  */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*style css */
body {
    background-color: #252742;
    color: #FFFFFF;
    font-family: "Figtree", serif;
}

/*start navbar*/

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    position: relative;
}
.logo {
    display: flex;
    align-items: center;
    font-size: 1.4em;
    color: #ffffff;
}

.logo img {
    width: 70px;
    height: auto;
    margin-right: 5px;
}

.menu{
    display: flex;
    list-style: none;
    gap: 150px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    
}
.menu li {
    position: relative; 
}

.menu li a{
    justify-content: space-between;
    text-decoration: none;
    color: #ffffff;
    display: block;
   
}
.menu li a:hover{
    color: #FDF722;
    transition: color 0.5s;
}

.dropdown-menu{
    z-index: 10;
    background-color: black;
    display: none;
    position: absolute;
    left: 0%;
    width: 200px;
    border-radius: 8px;
}

.dropdown-menu li {
    padding: 10px;
    text-align: center;
}

.dropdown-menu li a:hover {
    background-color: #474a76;
    color: #FDF722;
}
.dropdown:hover .dropdown-menu {
    display: block;
}

/*end navbar*/

/*start paralax and elipse*/
.paralax {
    height: 552px;
}
.elipse{
    width: 1000px;  
    height: 1px;
    margin: auto;
}
.elipse .elipse1{
    position: relative;
    width: 50px;
    top: 40px;
    left: 170px;

}
.elipse .elipse2{
    position: relative;
    width: 50px;
    bottom: 70px;
    left: 750px;
}
.elipse .elipse3 {
    position: relative;
    width: 130px;
    right: 50px;
}
.elipse .elipse4 {
    position: relative;
    width: 100px;
    top: 10px;      
    left: 600px;
}

.heading {
    position: relative;
    text-align: center;
    width: auto;
    margin: 0px auto 30px;
    overflow: hidden;
}

.heading h1 {
    z-index: -2;
    position: relative;
    padding-top: -100px;
    font-family: "Tektur", serif;
    font-size: 60px;
    font-weight: 700;
    text-shadow: 12px 12px 7px rgba(0, 0, 0, 0.5);;
}

.heading .logosinergi {
    position: relative;
    z-index: -3;
    margin: auto;
    width: 1000px;
    margin-top: -130px;
}

.heading .cahaya {
    z-index: -4;
    position: relative;
    width: 600px;
    margin: auto;
    margin-top: -5000px;
    margin-bottom: 100px;
}

.heading .overlay {
    z-index: 10 ;
    position: relative;
    width: 2400px;
    height: 250px;
    bottom: 250px;
}

.pengurus {
    position: relative;
    z-index: 0;
    width: 1000px;
    margin-top: -65%;
}
/* end paralax and elipse */


/* Start Card 3D */
.card-3d{
    margin: -30px auto;
    background-color: #1C1E32;
}

.card-3d .figuremain {
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
}

.card-3d .figuremain h1 {
    text-align: center;
    font-size: 3em;
    text-shadow: 12px 12px 7px rgba(0, 0, 0, 0.5);
}
  
figure {
    position: relative;
    width: 350px;
    aspect-ratio: 1;
    margin: auto;
    padding: 50px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 100%;
    cursor: pointer;
    filter: drop-shadow(0 0 20px rgb(0 0 0/50%));
}
figure:before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background: top/cover;
    transform-origin: bottom;
    filter: brightness(.9);
    transition: .5s;
    border-radius: 100px;
    right: -150px;
    left: -190px;
    top: 110px;
    bottom: 58px;
    background-color: white;
}
  

figure img {
    grid-area: 1/1;
    width: 200%;
    height: 100%;
    filter: contrast(.8) brightness(.7);
    place-self: end center;
    transition: .5s;
    object-fit: fill;
    object-position: top;
}

figure:hover img {
    width: 220%;
    height: 120%;
    filter: contrast(1) brightness(1);
}

figure:hover::before {
    filter: brightness(.3);
}

figure .text-overlay1 {
    position: absolute;
    bottom: 25px;
    left: 45%;
    transform: translateX(-70%);
    color: white;
    font-size: 2em;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s;
}

figure .text-overlay2 {
    position: absolute;
    bottom: 25px;
    left: 53%;
    transform: translateX(-70%);
    color: white;
    font-size: 2em;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s;
}

figure .text-overlay3 {
    position: absolute;
    bottom: 25px;
    left: 48%;
    transform: translateX(-70%);
    color: white;
    font-size: 2em;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s;
}

figure .text-overlay4 {
    position: absolute;
    bottom: 25px;
    left: 48%;
    transform: translateX(-70%);
    color: white;
    font-size: 2em;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s;
}

figure .text-overlay5 {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-70%);
    color: white;
    font-size: 2em;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s;
}

figure:hover .text-overlay1 {
    opacity: 1;
}

figure:hover .text-overlay2 {
    opacity: 1;
}

figure:hover .text-overlay3 {
    opacity: 1;
}

figure:hover .text-overlay4 {
    opacity: 1;
}

figure:hover .text-overlay5 {
    opacity: 1;
}
/* end card 3d */

.wrapper {
    background-color: #1C1E32;
    max-width: 1100px;
    width: 100%;
    position: relative;
    margin: 80px auto;
  }
  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -22px;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #474a76;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
  }
  .carousel .card .img {
    background: #252742;
    height: 148px;
    width: 148px;
    border-radius: 50%;
  }
  .card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
  }
  .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
  }
  .carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
  }
  
@media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
}
  
@media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
}



/* tablet responsive */
@media (max-width: 768px) {
    .paralax {
        height: 400px;
    }
    

}


/*mobile responsive*/
@media (max-width: 480px) {
/* start parallax */
    .paralax {
        height: 240px;
    }

    .elipse {
        height: 1px;
        margin: auto;
    }
    .elipse .elipse1 {
        width: 30px;
        top: 50px;
        left: 55px;
    }
    .elipse .elipse2 {
        width: 40px;
        top: 45px;
        left: 300px;
    }
    .elipse .elipse3 {
        width: 45px;
        top: 20px;
        right: 55px;
    }
    .elipse .elipse4 {
        width: 30px;
        left: 190px;
        top: 10px;
    }

    .heading {
        width: auto;
        padding: 20px 10px;
        margin: 10px auto 20px;
    }

    .heading h1 {
        font-size: 25px;
    }

    .heading .logosinergi {
        width: 90%;
        top: 30px;
        margin-top: -80px;
    }

    .heading .cahaya {
        width: 50%;
        top: 50px;
    }

    .pengurus {
        width: 90%;
        top: 15px;
    }

    .heading .overlay {
        z-index: 10 ;
        position: relative;
        width: 3;
        right: 100px;
        bottom: 87px;
        height: 100px;
    }
/* end parakax */

/* start gambar */

.card-3d{
    margin: -50px auto;
    background-color: #1C1E32;
}

.card-3d .figuremain {
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    gap: 100px; 
}

.card-3d .figuremain h1 {
    text-align: center;
    font-size: 2em;
    text-shadow: 10px 9px 3.5px rgba(0, 0, 0, 0.5);
}

figure {
    width: 260px;
}


figure .text-overlay {
        font-size: 1.8em;
}

figure img {
        grid-area: 1/1;
        width: 270px;
        height: 170px;
        margin-left: -50px;
        filter: contrast(.8) brightness(.7);
        place-self: end center;
        transition: .5s;
        object-fit: fill;
        object-position: top;
}

figure:hover img {
    grid-area: 1/1;
    width: 290px;
    height: 190px;
    margin-left: -60px;
    filter: contrast(.8) brightness(.7);
    place-self: end center;
    transition: .5s;
    object-fit: fill;
    object-position: top;
    filter: contrast(1) brightness(1);
}

figure .text-overlay1 {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-70%);
    color: white;
    font-size: 2em;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s;
}

figure .text-overlay2 {
    position: absolute;
    bottom: 25px;
    left: 60%;
    transform: translateX(-70%);
    color: white;
    font-size: 2em;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s;
}

figure .text-overlay3 {
    position: absolute;
    bottom: 25px;
    left: 55%;
    transform: translateX(-70%);
    color: white;
    font-size: 2em;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s;
}

figure .text-overlay4 {
    position: absolute;
    bottom: 25px;
    left: 55%;
    transform: translateX(-70%);
    color: white;
    font-size: 2em;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s;
}

figure .text-overlay5 {
    position: absolute;
    bottom: 25px;
    left: 62%;
    transform: translateX(-70%);
    color: white;
    font-size: 2em;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s;
}

figure:before {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        background: top/cover;
        transform-origin: bottom;
        filter: brightness(.9);
        transition: .5s;
        border-radius: 100px;
        right: -58px;
        left: -60px;
        top: 90px;
        bottom: 55px;
        background-color: white;
}

.figuregroup {
    gap: 100px !important;
}

figure {
    top: 60px;
    left: 165px;
    margin: -100px !important;
}

}
